# 1~20

In [1]:
print('C:\\Windows')

C:\Windows

In [2]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 개행. \t 들여쓰기.

안녕하세요.
만나서		반갑습니다.

In [3]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [4]:
print('5/3', 5/3)

5/3 1.6666666666666667

In [5]:
s = 50000

In [6]:
print(s * 10)

500000

In [7]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [11]:
s = "hello"
t = "python"
print(s+"!", t)
print(f'{s}! {t}')
# https://wikidocs.net/13#_16

hello! python
hello! python

In [12]:
num_str = "720"
int(num_str)

720

In [13]:
num = 100
print(str(num))

100

In [15]:
airPrice = 48584 * 36
print(airPrice)

1749024

In [16]:
letters = 'python'
print(letters[0], letters[2])

p t

In [18]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

# 슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.

In [19]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [22]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [25]:
phone_number = "010-1111-2222"
" ".join(phone_number.split('-'))

'010 1111 2222'

In [27]:
result =  phone_number.replace("-", " ")
print(result)

010 1111 2222

In [28]:
result =  phone_number.replace("-", "")
print(result)

01011112222

In [29]:
url = "http://sharebook.kr"
url.split(".")[-1]

'kr'

## 29

In [2]:
string = 'abcdfe2a354a32a'
testb = string.replace('a','A')

In [3]:
string

'abcdfe2a354a32a'

# 31~40

In [5]:
t1 = 'a'
t2 = 'b'
print((t1+' '+t2) * 4)

a ba ba ba b

In [6]:
"I eat %d apples."%3

'I eat 3 apples.'

In [7]:
# String sf1=String.format("name is %s",name);  
# https://www.javatpoint.com/java-string-format

In [11]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이:%d" %(name1,age1))
print("이름: {} 나이:{}".format(name2,age2))
print(f"이름: {name1} 나이:{age2}")

이름: 김민수 나이:10
이름: 이철희 나이:13
이름: 김민수 나이:13

In [13]:
상장주식수 = "5,969,782,550"
result = 상장주식수.replace(',','')
print(int(result))

5969782550

In [14]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

# 41-50

In [16]:
file_name = "보고서.xlsx"
if file_name.endswith('xlsx'):
    print('success')

success

# 51-60

In [17]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [18]:
movie_rank.append("배트맨")

In [19]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [20]:
movie_rank.insert(1,"슈퍼맨")

In [21]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [23]:
movie_rank.remove('럭키')

In [24]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [25]:
movie_rank.append("럭키맨")

In [29]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨', '럭키맨']

In [30]:
del movie_rank[-1]

In [31]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [32]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1.extend(lang2)
print(lang1)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [34]:
nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

# 61~70

In [2]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::+2]

[1, 3, 5, 7, 9]

In [3]:
nums[1::+2]

[2, 4, 6, 8, 10]

In [4]:
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[1])

삼성전자 LG전자

In [7]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [8]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [9]:
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [10]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [11]:
my_variable = ()

In [13]:
type(my_variable)

tuple

In [15]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [16]:
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [17]:
my_tuple = (1)
type (my_tuple)

int

In [18]:
t = 1, 2, 3, 4

In [19]:
t

(1, 2, 3, 4)

In [21]:
test =(i*2 for i in range(50))

In [27]:
tuple(range(2, 100, 2))

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

# 81-90

In [25]:
a,b,*c=(0,1,2,3,4,5)

In [26]:
c

[2, 3, 4, 5]

# 91-100

In [2]:
inventory = {"메로나":[300,20],"비비빅":[400,3], "죠스바":[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [3]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

## dictionary update method

In [4]:
new_product = {'a':24, '탱크보이':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1000, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, 'a': 24}

## zip 과 dict

In [5]:
keys = ("apple", "pear", "peach")
result = {}
vals = (300, 250, 400)
for (key,val) in zip(keys, vals):
    result[key] = val
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [6]:
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [7]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
print(dict(zip(date, close_price)))

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 111~120

In [8]:
test = input()
print(test *2)

hellohello

In [12]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
userInput  = input("제가 좋아하는 계절은:")
if userInput in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

오답입니다.

In [14]:
userInput  = input("제가 좋아하는 과일은:")
if userInput in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

오답입니다.

# 121-130

## 아하 python 은 switch가 없으니, elif를 써야하는 구나!

In [17]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
op = float(btc["opening_price"])
minp = float(btc["min_price"])
maxp =  float(btc["max_price"])
if op + (maxp - minp) > maxp:
    print("상승장")
else : 
    print("하락장")

상승장

# 08 python 반복문

## 131-140

In [19]:
test = "aAwef"
if(test.islower()):
    print("lower")
else : 
    print("upper")

upper

## 141-150

In [21]:
li = [1,2,3]
for item in li:
    print("3 x {} = {}".format(item, 3*item))
    print(f'3 x {item} = {3*item}')

3 x 1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 2 = 6
3 x 3 = 9
3 x 3 = 9

In [22]:
리스트 = ["가", "나", "다", "라"]
for item in 리스트[::2]:
    print(item)

가
다

## 151-160

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
print(리스트)
# for

## 161-170

In [1]:
for item in range(99,-1,-1):
    print(item, end=" ")

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

## 171-180

In [2]:
price_list = [32100, 32150, 32000, 32500]
for (idx, item) in enumerate(price_list):
    print(idx, item)

0 32100
1 32150
2 32000
3 32500

In [6]:
for idx in range(len(price_list)):
    print(len(price_list)-idx-1,price_list[idx])

3 32100
2 32150
1 32000
0 32500

In [7]:
my_list = ["가", "나", "다", "라", "마"]
for idx in range(len(my_list)-2):
    print(my_list[idx], my_list[idx+1], my_list[idx+2])

가 나 다
나 다 라
다 라 마

## 181-191

In [8]:
my_list = []
for i in range(1,4,1):
    my_list.append([f'{i}01호',f'{i}02호'])
print(my_list)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [9]:
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [10]:
stock = {"시가":[100, 200, 300], "종가":[80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [12]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for item in row:
        print(item, "호")

101 호
102 호
201 호
202 호
301 호
302 호

## 191-200

# 09 파이썬 함수

## 201-210

In [13]:
def printmxn(input, x):
    for idx, item in enumerate(input):
        print(item,end="")
        if (idx+1) % 3 ==0:
            print()

printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

## 221-230

In [14]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

# 10 파이썬 모듈

## 241-250

In [17]:
import datetime as dt 
print(dt.date.today())

2022-03-28

In [18]:
import datetime

now = datetime.datetime.now()
print(type(now))

<class 'datetime.datetime'>

In [19]:
import datetime 
now = datetime.datetime.now()

for day in range(5,0,-1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2022-03-23 07:34:40.224390
2022-03-24 07:34:40.224390
2022-03-25 07:34:40.224390
2022-03-26 07:34:40.224390
2022-03-27 07:34:40.224390

In [ ]:
now = datetime.datetime.now()
print(now.strftime())

In [20]:
import time
for item in range(5):
    print(datetime.datetime.now())
    time.sleep(1)

2022-03-28 07:40:27.930927
2022-03-28 07:40:28.937311
2022-03-28 07:40:29.943434
2022-03-28 07:40:30.950833
2022-03-28 07:40:31.958154

In [21]:
# 247 모듈 임포트
# 모듈을 임포트하는 4가지 방식에 대해 설명해보세요.
# import mod1
# print(mod1.add(3, 4))

# >>> from mod1 import add
# >>> add(3, 4)

# from mod1 import *
# add(3, 4)

import datetime as dt
print(dt.datetime.now())

2022-03-28 07:45:35.432353

## 모듈 임포트 테스트

In [1]:
import mod1
print(mod1.add(2,3))

5

In [2]:
from mod1 import add
print(add(2,4))

6

In [3]:
from mod1 import *

In [4]:
import sys
print(sys.path)

['c:\\Github\\Studying-algorithms\\python exercise', 'C:\\ProgramData\\Anaconda3\\python38.zip', 'C:\\ProgramData\\Anaconda3\\DLLs', 'C:\\ProgramData\\Anaconda3\\lib', 'C:\\ProgramData\\Anaconda3', '', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\locket-0.2.1-py3.8.egg', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\like_\\.ipython', 'C:\\Users\\like_\\AppData\\Roaming\\Python\\Python38\\site-packages']

In [6]:
# sys.path.pop()

'C:\\Github\\Studying-algorithms\\python exercise\\mod2.py'

In [7]:
.asys.pathppend("C:\\Github\\Studying-algorithms\\python exercise")

In [9]:
sys.path

['c:\\Github\\Studying-algorithms\\python exercise',
 'C:\\ProgramData\\Anaconda3\\python38.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\locket-0.2.1-py3.8.egg',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\like_\\.ipython',
 'C:\\Users\\like_\\AppData\\Roaming\\Python\\Python38\\site-packages',
 'C:\\Github\\Studying-algorithms\\python exercise']

다른 파일에서 모듈 부르기가 안됨 왜..?

In [11]:
# 2. PYTHONPATH 환경 변수 사용하기

# 모듈을 불러와서 사용하는 또 다른 방법으로는 PYTHONPATH 환경 변수를 사용하는 방법이 있다.

# 다음과 같이 따라 해 보자.

# C:\doit>set PYTHONPATH=C:\doit\mymod
# C:\doit>python
# >>> import mod2
# >>> print(mod2.add(3,4))
# 7

In [10]:
# 모듈 임포트 4가지 방식.
# [1] import os (권장되는 방식)
# [2] from os import rename
# [3] from os import *
# [4] import os as myos

In [13]:
import numpy
for i in numpy.arange(0,5,0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [14]:
import mod3
print(mod3.add(2,4))

ModuleNotFoundError: No module named 'mod3'

# 11 파이썬 클래스

## 251-260

# 클래스 : 변수나 함수를 모아둔 것..? 붕어빵틀?
# 객체 : 인스턴스라고도 불림. 클래스의 생성자를 이용해서 메모리 공간에 할당된 것.
# 인스턴스 : 위에 설명.

클래스는 (자동차, 사용자와 같은) 어떠한 개념/컨셉/실체를 나타내는 데이터와 해당 데이터를 기반으로 실행시킬 수 있는 함수들을 분리하지 않고 하나로 묶어서 해당 개념을 표현하는 나만의 새로운 데이터 타입을 만들 수 있게 하여 프로그래밍을 훨씬 효과적으로 할 수 있도록 해준다.

이 정리를 영어로 번역하면 본문의 시작 부분 단락에서 보았던 영문의 클래스 정의 내용과 비슷해진다! 🙂

Class implements a real-world entity.
Class is essentially user`s own data type with data and functions.

In [5]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

a = FourCal(4,3)

In [7]:
class MoreFourCal(FourCal):
    pass

a = MoreFourCal(5,3)
print(a.add())

8

In [6]:
a.first

4

In [3]:
FourCal.setdata(a, 24, 2)

AttributeError: type object 'FourCal' has no attribute 'setdata'

In [ ]:
# 클래스 이름.메소드 호출 안됨

In [ ]:
# 객체 변수와 클래스변수

In [8]:
# 파이썬은 접근 제한자가 없다.
# 관례상 _ 와 __ 을 붙인다.

In [11]:
# 252
class Human:
    pass
    # def setData(self, areum):
    #     self.areum = areum
    
areum = Human()

In [13]:
# 252
class Human:
    def __init__(self):
        print("응애응애")
    
areum = Human()

응애응애

In [15]:
# 253
class Human : 
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        print("응애응애", name, age, sex)

Human("아름","25","여자")

응애응애 아름 25 여자

In [19]:
# 257
class Human : 
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름 : {}, 나이: {}, 성별: {}".format(self.name,self.age,self.sex))
h1 = Human("아름","25","여자")
h1.who()

이름 : 아름, 나이: 25, 성별: 여자

In [20]:
# 258
class Human : 
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름 : {}, 나이: {}, 성별: {}".format(self.name,self.age,self.sex))
h1 = Human("아름","25","여자")
h1.setInfo("tqf","2222","무성")
h1.who()

이름 : tqf, 나이: 2222, 성별: 무성

In [24]:
# 259
class Human : 
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    
    def __del__(self):
        print("나의 죽음을 적에게 알리지 말라")

    def who(self):
        print("이름 : {}, 나이: {}, 성별: {}".format(self.name,self.age,self.sex))
h1 = Human("아름","25","여자")
h1.setInfo("tqf","2222","무성")
h1.who()

del h1

이름 : tqf, 나이: 2222, 성별: 무성
나의 죽음을 적에게 알리지 말라