# 1~20

In [1]:
print('C:\\Windows')

C:\Windows

In [2]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 개행. \t 들여쓰기.

안녕하세요.
만나서		반갑습니다.

In [3]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [4]:
print('5/3', 5/3)

5/3 1.6666666666666667

In [5]:
s = 50000

In [6]:
print(s * 10)

500000

In [7]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [11]:
s = "hello"
t = "python"
print(s+"!", t)
print(f'{s}! {t}')
# https://wikidocs.net/13#_16

hello! python
hello! python

In [12]:
num_str = "720"
int(num_str)

720

In [13]:
num = 100
print(str(num))

100

In [15]:
airPrice = 48584 * 36
print(airPrice)

1749024

In [16]:
letters = 'python'
print(letters[0], letters[2])

p t

In [18]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

# 슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.

In [19]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [22]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [25]:
phone_number = "010-1111-2222"
" ".join(phone_number.split('-'))

'010 1111 2222'

In [27]:
result =  phone_number.replace("-", " ")
print(result)

010 1111 2222

In [28]:
result =  phone_number.replace("-", "")
print(result)

01011112222

In [29]:
url = "http://sharebook.kr"
url.split(".")[-1]

'kr'

## 29

In [2]:
string = 'abcdfe2a354a32a'
testb = string.replace('a','A')

In [3]:
string

'abcdfe2a354a32a'

# 31~40

In [5]:
t1 = 'a'
t2 = 'b'
print((t1+' '+t2) * 4)

a ba ba ba b

In [6]:
"I eat %d apples."%3

'I eat 3 apples.'

In [7]:
# String sf1=String.format("name is %s",name);  
# https://www.javatpoint.com/java-string-format

In [11]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이:%d" %(name1,age1))
print("이름: {} 나이:{}".format(name2,age2))
print(f"이름: {name1} 나이:{age2}")

이름: 김민수 나이:10
이름: 이철희 나이:13
이름: 김민수 나이:13

In [13]:
상장주식수 = "5,969,782,550"
result = 상장주식수.replace(',','')
print(int(result))

5969782550

In [14]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

# 41-50

In [16]:
file_name = "보고서.xlsx"
if file_name.endswith('xlsx'):
    print('success')

success

# 51-60

In [17]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [18]:
movie_rank.append("배트맨")

In [19]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [20]:
movie_rank.insert(1,"슈퍼맨")

In [21]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [23]:
movie_rank.remove('럭키')

In [24]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [25]:
movie_rank.append("럭키맨")

In [29]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨', '럭키맨']

In [30]:
del movie_rank[-1]

In [31]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [32]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1.extend(lang2)
print(lang1)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [34]:
nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

# 61~70

In [2]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::+2]

[1, 3, 5, 7, 9]

In [3]:
nums[1::+2]

[2, 4, 6, 8, 10]

In [4]:
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[1])

삼성전자 LG전자

In [7]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [8]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [9]:
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [10]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [11]:
my_variable = ()

In [13]:
type(my_variable)

tuple

In [15]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [16]:
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [17]:
my_tuple = (1)
type (my_tuple)

int

In [18]:
t = 1, 2, 3, 4

In [19]:
t

(1, 2, 3, 4)

In [21]:
test =(i*2 for i in range(50))

In [27]:
tuple(range(2, 100, 2))

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

# 81-90

In [25]:
a,b,*c=(0,1,2,3,4,5)

In [26]:
c

[2, 3, 4, 5]

# 91-100

In [2]:
inventory = {"메로나":[300,20],"비비빅":[400,3], "죠스바":[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [3]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

## dictionary update method

In [4]:
new_product = {'a':24, '탱크보이':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1000, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, 'a': 24}

## zip 과 dict

In [5]:
keys = ("apple", "pear", "peach")
result = {}
vals = (300, 250, 400)
for (key,val) in zip(keys, vals):
    result[key] = val
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [6]:
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [7]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
print(dict(zip(date, close_price)))

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 111~120

In [8]:
test = input()
print(test *2)

hellohello

In [12]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
userInput  = input("제가 좋아하는 계절은:")
if userInput in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

오답입니다.

In [14]:
userInput  = input("제가 좋아하는 과일은:")
if userInput in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

오답입니다.

# 121-130

## 아하 python 은 switch가 없으니, elif를 써야하는 구나!

In [17]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
op = float(btc["opening_price"])
minp = float(btc["min_price"])
maxp =  float(btc["max_price"])
if op + (maxp - minp) > maxp:
    print("상승장")
else : 
    print("하락장")

상승장

# 08 python 반복문

## 131-140

In [19]:
test = "aAwef"
if(test.islower()):
    print("lower")
else : 
    print("upper")

upper

## 141-150

In [21]:
li = [1,2,3]
for item in li:
    print("3 x {} = {}".format(item, 3*item))
    print(f'3 x {item} = {3*item}')

3 x 1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 2 = 6
3 x 3 = 9
3 x 3 = 9

In [22]:
리스트 = ["가", "나", "다", "라"]
for item in 리스트[::2]:
    print(item)

가
다

## 151-160

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
print(리스트)
# for